/* =====================================================================================================================
// Globals
// ===================================================================================================================*/
*{
	position: relative;
	margin: 0 auto;
	padding: 0;
	/* Border-Box Sizing */
	-webkit-box-sizing		: border-box;
	   -moz-box-sizing		: border-box;
		-ms-box-sizing		: border-box;
		 -o-box-sizing		: border-box;
			box-sizing		: border-box;
}
html						{ width: 100%; height: 100%; min-height: 100%; font-family: 'Arial'; font-size: 20px; }
body						{ width: 100%; height: 100%; min-height: 100%; color: #000;
							  background: url("../images/backgrounds/ios-linen.jpg"); }

.txt9px						{ font-size: 9px; }
.txt10px					{ font-size: 10px; }
.txt12px					{ font-size: 12px; }
.txt14px					{ font-size: 14px; }
.txt16px					{ font-size: 16px; }
.txt18px					{ font-size: 18px; }
.txt20px					{ font-size: 20px; }
.txt300						{ font-weight: 300; }
.txt400						{ font-weight: 400; }
.txt600						{ font-weight: 600; }

.ui-tooltip-tipsy			{ border: 1px solid #FFF; }

/* =====================================================================================================================
// Main Containers & Windows
// ===================================================================================================================*/
#mainWindow{
	width: 100%;
	height: 100%;
	min-height: 100%;
}
#mainContainer{
	width: 640px;
	height: 712px;
	
	background: #CCC;
	color: #000;
}

#navigationHeader{
	height: 60px;
/*	border: 1px solid #000;*/
	background: #000;
}
#navigationHeader .backButton{
	float: left;
	width: 100px;
	height: 58px;
	cursor: pointer;
	
	display: none;
	
	background				: url('../images/icons/backbutton.png');
	-webkit-background-size	: 100% 100%;
	   -moz-background-size	: 100% 100%;
		 -o-background-size	: 100% 100%;
			background-size : 100% 100%;
}
#navigationHeader .logo{
	float: right;
	width: 247px;
	height: 60px;
	
	background				: url('../images/logo.png');
	-webkit-background-size	: 100% 100%;
	   -moz-background-size	: 100% 100%;
		 -o-background-size	: 100% 100%;
			background-size : 100% 100%;
}

.mainPage{
	padding: 5px;
}
#profilePage{
}
#missionPage{
	display: none;
}


/* =====================================================================================================================
// User (Basic info, Level, Gold)
// ===================================================================================================================*/
#user{
	float: left;
	width: 270px;
	background: #FFF;
	border: 1px solid #000;
	
	-webkit-border-radius	: 5px;
	   -moz-border-radius	: 5px;
	        border-radius	: 5px;
	        	 behavior	: url(css/PIE.htc);
}
#user .nameInfo{
	overflow: auto;
	padding: 3px;
	
	font-size: 30px;
	border-bottom: 1px solid #000;
	background: #FFF58B;
	
	-webkit-border-radius	: 5px 5px 0px 0px;
	   -moz-border-radius	: 5px 5px 0px 0px;
	        border-radius	: 5px 5px 0px 0px;
	        	 behavior	: url(css/PIE.htc);
}
#user .nameInfo .name{
	float: left;
}
#user .nameInfo .logout{
	float: right;
	padding: 8px 3px;
	font-size: 12px;
	cursor: pointer;
	
	border: 1px solid #000;
	background: #AF3636;
	color: #FFF;
	
	-webkit-border-radius	: 5px;
	   -moz-border-radius	: 5px;
	        border-radius	: 5px;
	        	 behavior	: url(css/PIE.htc);
}
#user .nameInfo .logout:hover{
	background: #000;
	color: #FFF;
}
#user .basicInfo{
	overflow: auto;
	border-bottom: 1px solid #000;
}
#user .basicInfo .avatar{
	float: left;
	width: 125px;
	height: 150px;
	
	
	border-right: 1px solid #000;
	
	background				: url('../images/defaultProfilePic.jpeg');
	-webkit-background-size	: 100% 100%;
	   -moz-background-size	: 100% 100%;
		 -o-background-size	: 100% 100%;
			background-size : 100% 100%;
}
#user .basicInfo .city{
	float: left;
	padding: 3px;
}


/* =========================================================
// Level & Gold
// =======================================================*/
#user .levelInfo{
	overflow: auto;
	padding: 3px;
	
	background: #999;
	color: white;
	
	border-bottom: 1px solid #000;
}
#user .levelInfo .heading{
	float: left;
}
#user .levelInfo .heading .levelTitle{
	font-size: 16px;
}
#user .levelInfo .levelIndicator{
/*	clear: both;*/
	float: right;
}
#user .levelInfo .levelIndicator .level{
	float: left;
	width: 15px;
	height: 22px;
	
	cursor: help;
	
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}
#user .levelInfo .levelIndicator .level.highlight{
	background: #FFDE58;
}
#user .levelInfo .levelIndicator .level1{
	-webkit-border-radius	: 5px 0px 0px 5px;
	   -moz-border-radius	: 5px 0px 0px 5px;
	        border-radius	: 5px 0px 0px 5px;
	        	 behavior	: url(css/PIE.htc);
}
#user .levelInfo .levelIndicator .level5{
	border-right: 1px solid #000;
	
	-webkit-border-radius	: 0px 5px 5px 0px;
	   -moz-border-radius	: 0px 5px 5px 0px;
	        border-radius	: 0px 5px 5px 0px;
	        	 behavior	: url(css/PIE.htc);
}
#user .goldInfo{
	clear: both;
	overflow: auto;
	
	background: #999;
	color: white;
	
	padding: 3px;
}
#user .goldInfo .heading{
	float: left;
	margin-right: 5px;
}
#user .goldInfo .gold{
	float: left;
	color: #FFDE58;
}



/* =====================================================================================================================
// Missions
// ===================================================================================================================*/
#missions{
	float: right;
	width: 350px;
}
#missions .heading{
	font-size: 30px;
	padding: 3px;
	background: #FFF;
	border: 1px solid #000;
	
	text-align: center;
	
	-webkit-border-radius	: 5px 5px 0px 0px;
	   -moz-border-radius	: 5px 5px 0px 0px;
	        border-radius	: 5px 5px 0px 0px;
	        	 behavior	: url(css/PIE.htc);
}
#missions .active{
	margin-bottom: 5px;
}
#missions .available{
	margin-bottom: 5px;
}
#missions .completed{
	margin-bottom: 5px;
}
#missions .missionList{
	height: 115px;
	overflow: auto;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	
	-webkit-border-radius	: 0px 0px 5px 5px;
	   -moz-border-radius	: 0px 0px 5px 5px;
	        border-radius	: 0px 0px 5px 5px;
	        	 behavior	: url(css/PIE.htc);
}
#missions .missionList .mission{
	padding: 1px 5px;

	cursor: pointer;
	text-align: left;
	font-size: 20px;
	color: #000;
}
#missions .missionList .mission.odd{
	background: #52BDFF;
}
#missions .missionList .mission.even{
	background: #8AD2FF;
}
#missions .missionList .mission:hover{
	color: #FFF;
	background: #000;
}


/* =====================================================================================================================
// Trophies
// ===================================================================================================================*/
#trophies{
	clear: both;
}

#trophies .heading{
	padding: 3px;
	background: #FFF;
	border: 1px solid #000;
	
	font-size: 30px;

	text-align: center;

	-webkit-border-radius	: 5px 5px 0px 0px;
	   -moz-border-radius	: 5px 5px 0px 0px;
	        border-radius	: 5px 5px 0px 0px;
	        	 behavior	: url(css/PIE.htc);
}
#trophies .trophyList{
	clear: both;
	overflow: auto;
	
	padding: 3px;
	
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
#trophies .trophyList .trophy{
	float: left;
	width: 100px;
	height: 100px;
	padding: 3px;
	margin-right: 3px;
	
	cursor: pointer;
	
	color: #FFF;
	border: 1px solid #FFF;
	background: #000;
}


/* =====================================================================================================================
// Mission Info
// ===================================================================================================================*/
#missionName{
	font-size: 50px;
	height: 120px;
	padding: 5px;
	
	text-align: center;
	
	background: #000;
	color: #FFF;
	
	-webkit-border-radius	: 5px 5px 0px 0px;
	   -moz-border-radius	: 5px 5px 0px 0px;
	        border-radius	: 5px 5px 0px 0px;
	        	 behavior	: url(css/PIE.htc);
}
#descriptionInfo{
	border: 1px solid #333;
	background: #FFF;
	padding: 5px;
	
	-webkit-border-radius	: 0px 0px 5px 5px;
	   -moz-border-radius	: 0px 0px 5px 5px;
	        border-radius	: 0px 0px 5px 5px;
	        	 behavior	: url(css/PIE.htc);
}
#descriptionInfo .description{}
#missionInfo{
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
#missionInfo .addressInfo .heading{
	font-size: 30px;
	
	background: #FFF;
}
#missionInfo .timeLeftInfo{
	float: left;
	width: 320px;
	
	margin-bottom: 5px;
}
#missionInfo .timeLeftInfo .heading{
	background: #FFF;
	font-size: 30px;
	border: 1px solid #000;
	
	text-align: center;
	
	-webkit-border-radius	: 5px 5px 0px 0px;
	   -moz-border-radius	: 5px 5px 0px 0px;
	        border-radius	: 5px 5px 0px 0px;
	        	 behavior	: url(css/PIE.htc);
}
#missionInfo .timeLeftInfo .timeLeft{
	font-size: 35px;
	background: #000;
	color: #FFF;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	
	text-align: center;
}

#missionInfo .rewardsInfo{
	width: 320px;
	clear: left;
	float: left;
}
#missionInfo .rewardsInfo .heading{
	background: #FFF;
	
	border: 1px solid #000;
	text-align: center;
	font-size: 30px;
	
	-webkit-border-radius	: 5px 5px 0px 0px;
	   -moz-border-radius	: 5px 5px 0px 0px;
	        border-radius	: 5px 5px 0px 0px;
	        	 behavior	: url(css/PIE.htc);
}
#missionInfo .rewardsInfo .badgeTitle{
	font-size: 17px;
	text-align: center;
	background: #000;
	color: #FFF;
}
#missionInfo .rewardsInfo .badge{
	width: 150px;
	height: 150px;
/*	border: 1px solid #000;*/
	
	-webkit-background-size	: 100% 100%;
	   -moz-background-size	: 100% 100%;
		 -o-background-size	: 100% 100%;
			background-size : 100% 100%;
}
#missionInfo .rewardsInfo .reward{
	background: #000;
	color: #FFF;
	padding: 5px;
}
#mapInfo{
	float: right;
}
#mapInfo .heading{
	text-align: center;
	font-size: 30px;
	background: #FFF;
	border: 1px solid #000;
	-webkit-border-radius	: 5px 5px 0px 0px;
	   -moz-border-radius	: 5px 5px 0px 0px;
	        border-radius	: 5px 5px 0px 0px;
	        	 behavior	: url(css/PIE.htc);
}
#mapInfo .address{
	text-align: center;
	font-size: 14px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	
	background: #000;
	color: #FFF;
}
#mapCanvas{
	width: 300px;
	height: 300px;
	
	border: 1px solid #333;
}



/* =====================================================================================================================
// Accept / Complete Mission Buttons
// ===================================================================================================================*/
#missionButtons{
/*	border: 1px solid fuchsia;*/
}
#missionButtons .button{
	display: none;
	clear: both;
	width: 400px;
/*	height: 100px;*/
	background: #FFF;
	
	cursor: pointer;
	padding: 25px 5px;
	font-size: 40px;
	text-align: center;
	border: 1px solid #000;
	
	-webkit-border-radius	: 15px;
	   -moz-border-radius	: 15px;
	        border-radius	: 15px;
	        	 behavior	: url(css/PIE.htc);
}
#missionButtons .button:hover{
	color: #FFF;
	background: #000;
}
#missionButtons .accept{}
#missionButtons .complete{}
#missionButtons .message{
	display: none;
/*	background: #FFF;*/
	color: #000;
	font-size: 70px;
	text-align: center;
	padding: 20px 5px;
}



