/* =====================================================================================================================
// Globals
// ===================================================================================================================*/
*{
	position: relative;
	margin: 0 auto;
	padding: 0;
	/* Border-Box Sizing */
	-webkit-box-sizing		: border-box;
	   -moz-box-sizing		: border-box;
		-ms-box-sizing		: border-box;
		 -o-box-sizing		: border-box;
			box-sizing		: border-box;
}
html						{ width: 100%; height: 100%; min-height: 100%; font-family: 'Arial'; font-size: 20px; }
body						{ width: 100%; height: 100%; min-height: 100%; color: #000;
							  background: url("../images/backgrounds/ios-linen.jpg"); }

.txt9px						{ font-size: 9px; }
.txt10px					{ font-size: 10px; }
.txt12px					{ font-size: 12px; }
.txt14px					{ font-size: 14px; }
.txt16px					{ font-size: 16px; }
.txt18px					{ font-size: 18px; }
.txt20px					{ font-size: 20px; }
.txt300						{ font-weight: 300; }
.txt400						{ font-weight: 400; }
.txt600						{ font-weight: 600; }

.ui-tooltip-tipsy			{ border: 1px solid #FFF; }

/* =====================================================================================================================
// Main Containers & Windows
// ===================================================================================================================*/
#mainWindow{
	width: 100%;
	height: 100%;
	min-height: 100%;
}
#mainContainer{
	width: 640px;
	height: 712px;
	
	background: #CCC;
	color: #000;
	
	border: 1px solid aqua;
}

#navigationHeader{
	height: 60px;
	border: 1px solid #000;
	background: #609AE7;
}
.mainPage{
	padding: 5px;
	
	
}
#profilePage{
}
#missionPage{
	display: none;
}




/* =====================================================================================================================
// User (Basic info, Level, Gold)
// ===================================================================================================================*/
#user{
	float: left;
	width: 300px;
	
	border: 2px solid aqua;
}
#user .nameInfo{
	background: #FFF;
	padding: 3px;
	
	border: 1px solid #333;
}
#user .basicInfo{
	overflow: auto;
	border: 2px solid green;
}
#user .basicInfo .avatar{
	float: left;
	width: 50px;
	height: 50px;
	
	background: red;
	
	border: 1px solid #333;
}
#user .basicInfo .city{
	float: left;
	padding: 3px;

	border: 1px solid #333;	
}


/* =========================================================
// Level & Gold
// =======================================================*/
#user .levelInfo{
	overflow: auto;
	padding: 3px;
	
	border: 1px solid fuchsia;
}
#user .levelInfo .heading{
	float: left;	
}
#user .levelInfo .heading .levelTitle{

}
#user .levelInfo .levelIndicator{
	clear: both;
}
#user .levelInfo .levelIndicator .level{
	float: left;
	width: 20px;
	height: 20px;
	
	cursor: help;
	
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}
#user .levelInfo .levelIndicator .level.highlight{
	background: aqua;
}
#user .levelInfo .levelIndicator .level5{
	border-right: 1px solid #000;
}
#user .goldInfo{
	clear: both;
	overflow: auto;
	
	padding: 3px;
	
	border: 1px solid #333;
}
#user .goldInfo .heading{
	float: left;
	margin-right: 5px;
}
#user .goldInfo .gold{
	float: left;
	color: yellow;
}



/* =====================================================================================================================
// Missions
// ===================================================================================================================*/
#missions{
	float: right;
	width: 300px;

	border: 2px solid red;
}
#missions .heading{
	padding: 3px;
	background: #FFF;
	border-bottom: 1px solid #000;
}
#missions .active{


	border: 1px solid #333;
}
#missions .available{

	border: 1px solid #333;
}
#missions .completed{
	
	border: 1px solid #333;
}
#missions .missionList{
	height: 100px;
	overflow: auto;
	border: 1px solid blue;
}
#missions .missionList .mission{
	padding: 1px 5px;

	cursor: pointer;
	text-align: left;
	font-size: 16px;
	color: #FFF;
}
#missions .missionList .mission.odd{
	background: #777;
}
#missions .missionList .mission.even{
	background: #999;
}
#missions .missionList .mission:hover{
	color: #FFF;
	background: #000;
}


/* =====================================================================================================================
// Trophies
// ===================================================================================================================*/
#trophies{
	clear: both;
	
	border: 1px solid green;
}

#trophies .heading{
	padding: 3px;
	background: #FFF;
	border-bottom: 1px solid #000;

	text-align: center;

}
#trophies .trophyList{
	clear: both;
	overflow: auto;
	
	padding: 3px;
}
#trophies .trophyList .trophy{
	float: left;
	width: 50px;
	height: 50px;
	padding: 3px;
	margin-right: 3px;
	
	cursor: pointer;
	
	color: #FFF;
	border: 1px solid #FFF;
	background: #000;
}














